<%

  #user_id = params[:user_id] || ( user ? user.id : ( user_id || User.current.id ) )
  user ||= User.current
  user_id = user.id

  if params[:user_id] then
    user = User.find( params[:user_id] )
    user_id = user.id
  end

  before_days = 17.days
  after_days = 125.days

  gantt_start_date = Date.today - before_days
  gantt_end_date = Date.today + after_days

  vacation_info ||= UserStatusHelper.get_user_vacation_info( gantt_start_date..gantt_end_date )
  
  issues = Issue.where( '( worker_id = ? AND ( ( begin_time >= ? OR end_time >= ? ) OR ( begin_time IS NOT NULL AND end_time IS NULL ) ) ) OR 
                          ( assigned_to_id = ? AND ( ( ( start_date IS NOT NULL AND start_date <= (?) ) OR ( due_date IS NOT NULL AND due_date <= (?) ) ) AND status_id NOT IN (?) ) )', user_id, gantt_start_date, gantt_start_date, user_id, gantt_end_date, gantt_end_date, IssueStatus.implemented_ids ).order(begin_time: :asc, start_date: :asc).select{ |issue| !IssueStatus.is_discarded?( issue.status_id ) && !IssueStatus.is_postponed?( issue.status_id ) }
  
  major_issues = issues.select{ |issue| !Tracker.is_bug?( issue.tracker_id ) && !Tracker.is_sidejob?( issue.tracker_id ) }
  support_issues = issues.select{ |issue| Tracker.is_sidejob?( issue.tracker_id ) }
  qa_issues = issues.select{ |issue| Tracker.is_bug?( issue.tracker_id ) }

  gantt_opts ||= { before_length: before_days, after_length: after_days }
%>

<%= render :partial => 'milestone/gantt_chart', locals: { title: '주요 일감', user: user, issues: major_issues, vacation_info: vacation_info, gantt_opts: gantt_opts } %>
<% if support_issues.any? %>
  <div class='support_issues'>
    <br>
    <%= render :partial => 'milestone/gantt_chart', locals: { title: '관리 일감', user: user, issues: support_issues, vacation_info: vacation_info, gantt_opts: gantt_opts } %>
  </div>
<% end %>
<% if qa_issues.any? %>
  <div class='qa_issues'>
    <br>
    <%= render :partial => 'milestone/gantt_chart', locals: { title: '기타 일감', user: user, issues: qa_issues, vacation_info: vacation_info, gantt_opts: gantt_opts } %>
  </div>
<% end %>
